/youtubeDownloader/youtubeDownloader.xcworkspace/xcuserdata/jmpg93.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/youtubeDownloader/youtubeDownloader.xcworkspace/xcuserdata/jmpg93.xcuserdatad/UserInterfaceState.xcuserstate
/youtubeDownloader/youtubeDownloader/amazing-grace-10s.mp3
/youtubeDownloader/.DS_Store